/******************************************************************************
  Min Width "1200x"
  *******************************************************************************/
  @media (min-width: 1200px) {
  }

/******************************************************************************
  Max Width "1169px" - Min Width "980px"
  *******************************************************************************/
  @media (min-width: 980px) and (max-width: 1199px) {
  }

/******************************************************************************
  Max Width "979px"
  *******************************************************************************/
  @media (max-width: 979px) {
  }

/******************************************************************************
  Max Width "979px" - Min Width "768px"
  *******************************************************************************/
  @media (min-width: 768px) and (max-width: 979px) {

	  .row {
		  max-width: 47.5rem !important; 
	  }
      
      .triangle-left {
          border-right: 69px solid #820a0b; 
      }
      .triangle-right {
          border-left: 69px solid #820a0b;
      }

	  .top-contact {
		  padding-top: 8px;
		  width: 55%;
	  }
	  i.icon.icon-phone.header-contact-links {
		  display: inline-block;
		  vertical-align: sub;
		  font-size: 23px;
	  }
	  i.icon.icon-email.header-contact-links {
		  display: inline-block;
		  vertical-align: sub;
		  font-size: 23px;
	  }
      #mobile-header {
          display: block !important;
          height: 136px !important;
      }
      #mobile-header-sticky-wrapper {
          height: 136px !important;
      }
      #main-header {
          display: none !important;
      }
      #main-header-sticky-wrapper {
          display: none !important;
      }
      
      .sub-menu-sub-categories-alt {
          padding-top: 50px !important;
      }
	  .top-phone {
		  font-size: 15px;
	  }
	  .top-email {
		  display: inline-block;
		  margin-left: 23px;
		  font-size: 15px;
	  }	  
	  .top-social {
		  padding-top: 8px;
		  width: 45%;
	  }
	  #header-social li {
		  display: inline-block;
		  margin: 0px 7px;
	  }
      #alt-main-header {
          display: none;
      }
      #alt-main-header-sticky-wrapper {
          display: none;
      }
      #toggle-mobile-menu-base {
          display: block !important;
      }
      ul.menu-list.main-menu-text.dropdown {
        background: #ffffff;
        margin: 0px;
      }
      a#toggle-mobile-menu-menu.button {
          color: #000000 !important;
		  background: #FFFFFF !important;	
          display: block !important;
          font-size: 18px !important;
	  }
	  a#toggle-mobile-menu-events.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
          display: block !important;
          font-size: 18px !important;
	  }
	  a#toggle-mobile-menu-packages.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
          display: block !important;
          font-size: 18px !important;
	  }
	  .tablet-logo {
		  width: 100%;
          text-align: center;
	  }
	  .header-logo {
		  padding-top: 18px;
	  }
	  .tablet-main-menu {
          display: none;
	  }
      .top-social {
          display: none;
      }
	  #main-menu {
		  display: none;
	  }
	  	  	  	  
	  
	  #top-footer {
		  display: block;
		  height: 63px;
	  }
	  #footer-social {
		  text-align: center;
		  padding-top: 7px;
	  }
	  #footer-social li {
		  display: inline-block;
		  margin: 16px 20px;
	  }
	  	  
	  
	  #main-footer {
		  display: block;
		  height: 120px;
	  }
	  .tablet-footer-logo {
		  width: 27%;
	  }
	  .tablet-footer-contact {
		  width: 40%;		  
	  }
	  .phone-line {
		  display: block;
		  width: 100%;
		  padding-top: 27px;
	  }
	  .tablet-footer-address {
		  width: 33%;		  
	  }
	  .footer-address {
		  display: block;
		  margin-top: 23px;
	  }
	  
	  #home-hero {
		  height: 430px;
	  }
	  .home-h1 {
		  padding-top: 93px;
		  padding-bottom: 32px;
		  font-size: 43px;
          text-transform: inherit;
	  }
	  	  	  	  
	  #hero-tiles {
		  margin-top: 50px;
	  }
	  .events-tile {
		  width: 230px;
		  height: 150px;
	  }
	  .menu-tile {
		  width: 230px;
		  height: 150px;
	  }
	  .packages-tile {
		  width: 230px;
		  height: 150px;
	  }
	  .tile-text {
		  padding-top: 43px;
	  }
	  #home-value {
		  margin: 50px 0px;   
          margin-top: 50px;
          margin-bottom: 80px;
	  }
	  .value-image-container {
		  display: inline-block;
		  width: 34%;
		  float: left;
	  }
	  .value-image {
		  width: 230px;
	  }
	  .value-text-container {
		  display: inline-block;
		  width: 66%;
		  float: left !important;
	  }
	  .how-we-serve-title {
		  margin-top: 50px;
	  }
	  .how-we-serve-mobile {
		  width: 100%;
	  }
	  div.large-2.columns {
		  width: 50%;
		  margin: 10px 0px;
	  }
	  .community-partners-middle-row {
		  padding: 0px 0px;
	  }
	  
	  #menu-bar {
		  display: none;
	  }
	  .mobile-menu-base {
		  color: #FFFFFF;
		  font-size: 23px;
		  padding-bottom: 6px;
		  text-align: center !important;
	  }	 	  	  
	  .button {
		  display: inline-block;
		  width: 100% !important;
		  background: #820a0b !important;
		  color: #FFFFFF !important;
		  font-size: 24px !important;
		  padding: 9px 0px !important;
		  margin-bottom: 0px !important;
	  }
	  ul.submenu.text-center {
		  width: 100%;
		  display: inline-block;
		  background: rgba(20, 78, 21, 0.13);
		  color: #000000;
	  }
	  div.mobile-menu-menu li {
		  width: 100%;
		  display: inline-block;
	  }
	  .mobile-menu-item {
          margin-bottom: 13px;
		  color: #000000 !important;
	  }
	  a#toggle-mobile-menu-menu.button {
          color: #000000 !important;
		  background: #FFFFFF !important;		  
	  }
	  a#toggle-mobile-menu-events.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
	  }
	  a#toggle-mobile-menu-packages.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
	  }
	       
      .mobile-menu-layout {
          display: none;
      }
            
      #home-value {
          margin-top: 151px;
          margin-bottom: 121px;
      }
      .three-points-zero-to-one {
          margin-top: 0px !important;
      }
      .three-points-one-to-two {
          margin: 0px;
      }
      .three-points-two-to-three {
          margin: 0px;
      }
      
      .top-contact {
          width: 100% !important;
      }
	  
      .row .row {
          margin-left: 0 !important;
          margin-right: 0 !important;
      }
      .triangle-left {
          display: none !important;
      }
      .triangle-right {
          display: none !important;
      }
      .hide-tablet {
          display: none !important;
      }
      .footer-logo {
          margin-top: 0 !important;
          padding-top: 16px !important;
      }
      .tablet-50 {
          width: 50% !important;
          float: left !important;
      }
      .tablet-33 {
          width: 33% !important;
      } 
      .tablet-25 {
          width: 25% !important;
      } 
      .tablet-partners {
          width: 16.5% !important;
      }
      
      
      .home-tile-text {
          font-size: 32px !important;
          margin-top: -100px !important;
      }
      .height-300 {
          width: 50% !important;
      }
      .height-120 {
          width: 50% !important;
          height: inherit !important;
      }



  }

/******************************************************************************
  Max Width "767px"
  *******************************************************************************/
  @media (max-width: 767px) {
	  
      .sub-menu-sub-categories-alt {
          padding: 87px 16px;
      }
      .triangle-left {
          display: none;
      }
      .triangle-right {
          display: none;
      }
      
	  #top-header {
		  display: block;
		  height: 95px;
		  background: #144e15;
	  }
	  .top-contact {
		  padding-top: 13px;
		  text-align: center;
	  }
	  .top-social {
		  display: none;
	  }
	  #header-social {
		  float: none;
		  margin-top: 7px;
	  }
	  #header-social li {
		  display: inline-block;
		  margin: 0px 8px;
	  }
	  
	  .header-logo {
        padding: 23px;
        margin: auto !important;
        display: block;
        height: 121px;
        width: auto;
	  }
	  #main-header {
		  display: block;
		  height: 121px;
		  box-shadow: 0px 0px 3px #000000;
	  }	  
      .stickyHeader {
          display: none;
      }
	  
	  nav {
		  display: none !important;
	  }
	  .mobile-menu-base {
		  color: #FFFFFF;
		  font-size: 23px;
		  padding-bottom: 6px;
		  text-align: center !important;
	  }		  
	  .button {
		  display: inline-block;
		  width: 100% !important;
		  background: #820a0b !important;
		  color: #FFFFFF !important;
		  font-size: 21px !important;
		  padding: 9px 0px !important;
		  margin-bottom: 0px !important;
	  }
	  .mobile-menu-item {
		  color: #000000 !important;
	  }
	  div.mobile-menu-base li {
          padding: 13px;
	  }
	  a#toggle-mobile-menu-menu.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
	  }
	  a#toggle-mobile-menu-events.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
	  }
	  a#toggle-mobile-menu-packages.button {
          color: #000000 !important;
		  background: #FFFFFF !important;
	  }
	  ul.submenu.text-center {
        width: 100%;
        display: inline-block;
        background: rgba(20, 78, 21, 0.13);
        color: #000000;
	  }
	  div.mobile-menu-menu li {
        width: 100%;
        display: inline-block;
	  }
	  div.mobile-menu-packages li {
        width: 100%;
        display: inline-block;
	  }
	   div.mobile-menu-events li {
        width: 100%;
        display: inline-block;
	  }
      .mobile-menu-padding {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 21px;
      }
	  a.drop-menu-text {
        color: #000000;
	  }
	  	  	  	  	  
	  
	  #top-footer {
        display: block;
        height: 120px;
	  }
	  #footer-social {
        text-align: center;
        padding-top: 7px;
	  }
	  #footer-social li {
        display: inline-block;
        margin: 7px 20px;
	  }
	  
	  #main-footer {
        display: block;
        height: 420px;
	  }
	  .footer-logo {
        padding-top: 23px;
	  }
	  
	  
	  .top-email {
		  display: inline-block;
		  margin-top: 10px;
		  margin-bottom: 3px;
		  margin-left: 32px;
	  }	 
	  .home-h1 {
		  padding-top: 87px;
		  padding-bottom: 43px;
		  font-size: 32px;	
          text-transform: none;
	  }
      #home-value {
          padding: 0px 32px;
      }
	  	  
	  #hero-tiles {
		  margin-top: 50px;
          margin-bottom: 72px;
	  }
	  .tile-container {
		  float: none;
		  width: 100%;
          height: 180px;
	  }
	  .tile-container-alt {
		  float: none;
		  width: 100%;
	  }
	  .events-tile {
		  width: 300px;
	  }
	  .menu-tile {
		  width: 300px;
	  }
	  .packages-tile {
		  width: 300px;
	  }
      .free-delivery-1 {
          margin: auto;
      }
      .free-delivery-2 {
          display: none !important;
      }
      .free-delivery-3 {
          display: none !important;
      }
	  #home-about {
		  background-image: url(../img/home-about-bg.jpg);
		  background-size: cover;
		  background-position: center;
		  padding: 63px 0px;
	  }
	  .value-text-container {
		  text-align: center;
          padding: 0 !important;
	  }
	  .value-image-container {
		  text-align: center;
	  }
	  .value-image {
		  margin-top: 0px;
		  margin-bottom: 23px;
	  }
	  .how-we-serve-section-title {
		  margin-top: 50px;
	  }
	  .how-we-serve-mobile {
		  display: inline-block;
		  width: 100%;		  
		  float: none;
          text-align: center;
	  }
      .how-we-serve-text {
          padding: 0 !important;
      }
	  div.large-2.columns {
		  width: 50%;
		  margin: 10px 0px;
	  }
	  #community-partners-intro {
		  padding: 50px 0px;
		  padding-bottom: 0px;
	  }
	  #community-partners-list {
		  padding-bottom: 50px;
	  }
	  .community-partners-middle-row {
		  padding: 0px 0px;
	  }
	  #call-to-action {
		  padding: 43px 0px;
		  padding-top: 72px;
	  }
	  .x2-button-container-left {
		  width: 100%;
		  float: none;
		  margin: 23px 0px;
	  }
	  .x2-button-container-right {
		  width: 100%;
		  float: none;
		  margin: 23px 0px;
	  }

	  
	  #menu-bar {
		  display: none;
	  }
      
      
      .menu-h1 {
          font-size: 150%;
          padding: 0px 16px;
          padding-top: 131px;
      }
      .menu-h1-contact {
          font-size: 150%;
          padding: 0px 16px;
          padding-top: 77px;
      }
      .menu-h1-alt {
          font-size: 230%;
          padding-top: 127px;
      }
      
      .sub-category-item-text {	
          padding-bottom: 0px;
          padding-top: 0px;
          margin-bottom: 50px;
      }
      .package-text {
          padding-bottom: 0px;
      }
      
      .event-tag-line {
          text-align: center;
      }
      .process-item-text {
          padding-bottom: 43px;
      }
      
      #appetizers-label {
          border-radius: 0px;	
      }
      #pastasauces-label {
          border-radius: 0px;
      }
      #entrees-label {
          border-radius: 0px;	
      }
      #sides-label {
          border-radius: 0px;	
      }
      
      .appetizers-text-container {	
          border-radius: 0px;
      }
      .pastasauces-text-container {	
          border-radius: 0px;
      }
      .apps-platters-text-container {	
          border-radius: 0px;
      }
      .apps-indy-fresh-text-container {	
          border-radius: 0px;
      }
      .apps-classic-veggies-text-container {	
          border-radius: 0px;
      }
      .apps-meats-text-container {	
          border-radius: 0px;
      }
      .entrees-italian-text-container {	
          border-radius: 0px;
      }
      .entrees-chicken-text-container {	
          border-radius: 0px;
      }
      .entrees-bbq-grill-text-container {	
          border-radius: 0px;
      }
      .entrees-text-container {	
          border-radius: 0px;
      }
      .pasta-pasta-text-container {	
          border-radius: 0px;
      }
      .pasta-sauce-text-container {	
          border-radius: 0px;
      }
      .soups-soup-text-container {	
          border-radius: 0px;
      }
      .soups-salad-text-container {	
          border-radius: 0px;
      }
      .soups-dressing-text-container {	
          border-radius: 0px;
      }
      .wraps-sandwich-text-container {	
          border-radius: 0px;
      }
      .wraps-sliders-text-container {	
          border-radius: 0px;
      }
      .wraps-platters-text-container {	
          border-radius: 0px;
      }
      .sides-deli-text-container {	
          border-radius: 0px;
      }
      .sides-desserts-text-container {	
          border-radius: 0px;
      }
      .sides-drinks-text-container {	
          border-radius: 0px;
      }
      
      .sub-menu-sub-categories {
        padding-top: 36px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 16px;
      }
      .accordion-title-text {
        font-size: 32px;
        margin-top: 72px;
        margin-bottom: 0px;
        padding: initial !important;
      }
            
      
      #breakfast-hero {
        background-position: left bottom;
        height: 320px;
      }
      #apps-hero {
        background-position: center bottom;
        height: 320px;
      }
      #entrees-hero {
        background-position: center bottom;
        height: 320px;
      }
      #soup-and-salad-hero {
        background-position: center bottom;
        height: 320px;
      }
      #pasta-hero {
        background-position: center bottom;
        height: 320px;
      }
      #wraps-and-subs-hero {
        background-position: center bottom;
        height: 320px;
      }
      #sides-hero {
        background-position: center bottom;
        height: 320px;
      }
      #menu-overview-hero {
        background-position: center bottom;
        height: 320px;
      }
      #packages-hero {
        background-position: center bottom;
        height: 320px;
      }
      #celebrations-event-hero {
        background-position: center bottom;
        height: 320px;
      }
      #corporate-event-hero {
        background-position: center bottom;
        height: 320px;
      }
      #get-quote-button {
        margin-bottom: 60px !important;
      }
      #wedding-event-hero {
        background-position: center bottom;
        height: 320px;
      }
      #quotes-hero {
        background-position: center bottom;
        height: 320px;
      }
      #about-hero {
        background-position: center bottom;
        height: 320px;
      }
      
      .large-fifth {
        width: 100%;
      }
      
      .modal-message {
        margin-bottom: 32px;
      }
      .sub-category-item-title {
        color: #144e15;
        margin-top: 0px;
        padding-top: 13px;
        text-transform: uppercase;          
      }
      .desktop-menu-layout {
        padding-bottom: 72px;
      }
      
      .free-delivery-img {
        height: calc(100vw - 36px);
        margin-bottom: 43px;
      }
      .community-partners-title {
        padding-bottom: 13px;
      }
      .team-member-bio {
        margin-bottom: 87px;
      }
      ul.events-ul {
        list-style-type: none;
        text-align: center;
          
      }
      
      
      ul.menu-list.main-menu-text.dropdown {
        background: #ffffff;
        margin: 0px;
      }
      
      #main-header {
          display: none !important;
      }
      #alt-main-header {
          display: none !important;
      }
      #main-header-sticky-wrapper {
          display: none !important;
      }
      #alt-main-header-sticky-wrapper {
          display: none !important;
      }
      
      .menu-top-margin {
            margin-top: 0px;
      }
      
      
      
      
      /* Form Styles */
      
      .call-mobile {
          margin-bottom: 32px;
      }
      .reveal {
          width: 100% !important;
          max-width: 100% !important;
          margin: auto;
      }
      
      .fsForm select:not([multiple="multiple"]) { 
          background-position: right -16px top 50% !important;
      }
      .fsSubmitButton {
          border-radius: 27px !important;
      }
      .fsBody .fieldset-content .always-ltr {
          margin-top: 0px !important;
      }
      .fsBody .fieldset-content .always-ltr {
          width: 100% !important;
          margin-left: 0px !important;
      }

      .one-third {
          display: block !important;
          width: 100% !important;
          float: none !important;
      }
      
      .close-button {
          display: block;
          position: fixed;
          color: #fefefe !important;
          top: initial !important;
          bottom: -1px !important;
          text-align: center;
          font-size: 27px;
          left: 0px;
          background-color: #144e15;
          height: 54px;
          width: 100vw;
          cursor: pointer;
      }

      div#fsRow2578648-11 {
          width: 100% !important;
          padding-right: 0 !important;
      }
      div#fsRow2578648-12 {
          width: 100% !important;
          padding-right: 0 !important;
      }
      div#fsRow2578648-13 {
          width: 100% !important;
          padding-right: 0 !important;
      }
      div#fsRow2578648-14 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-15 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-16 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-17 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-18 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-19 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-20 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-21 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-22 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-23 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-24 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-25 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-26 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-27 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      div#fsRow2578648-28 {
          width: 100% !important;
          padding: 0 0 !important;
      }
      
      
      /* New Menu Layout */
      
      .menu-list-semantics li {
          width: 100% !important;
      }
      .menu-list-semantics-20 li {
          width: 100% !important;
      }
      .menu-list-semantics-50 li {
          width: 100% !important;
      }
      .sub-category-item-title {
          padding-top: initial !important;
      }
      .sub-category-item-text {
          margin-bottom: 16px;
      }
      .height-300 {
          height: initial !important;
          margin-bottom: 50px; 
      }
      .testimonial-top-title {
          font-size: 32px !important;
      }
      .contact-contact-links {
          font-size: 27px !important;
          margin-top: -2px !important;
      }
      .contact-contact-text {
          font-size: 16px !important;
          margin-left: 7px !important;
      }
      
      
      
      
      
      
      /* Gloabl */
      
      h4 {
          font-size: 18px !important;
      }
      .mobile-only {
          display: block !important;
      }
      .desktop-only {
          display: none !important;
      }      

      
      
      

}

/******************************************************************************
  Max Width "600px"
  *******************************************************************************/
  @media (max-width: 600px) {
  }



/******************************************************************************
  Min Width "767px"
  *******************************************************************************/
  @media (min-width: 768px) {
	  
	  .button {
		  display: none;
	  }
	  .mobile-menu-base {
		  display: none;
	  }
      
      #mobile-header {
          display: none;
      }
      
      .mobile-only {
          display: none !important;
      }
      .desktop-only {
          display: block;
          color: #000000 !important;
          top: 15px !important;
          text-align: center;
          font-size: 36px;
          height: 50px;
          width: 50px;
      }
      .modal-message {        
          padding-top: 43px;
      }

  }